<div class="container">
  <% if @favorited_jobs.count > 0 %>
    <h1 class="text-center my-job-label">My Favorite Job (<span class="count-favorite-jobs"><%= @count %></span> jobs)</h1>
    <%= paginate @favorited_jobs, outer_window: 2, window: 1 %>
      <div class="favorite-page">
        <%= render partial: "job_favorites/my_favorite_jobs", collection: @favorited_jobs, as: :favorited_job %>
      </div>
    <%= paginate @favorited_jobs, outer_window: 2, window: 1 %>
  <% else %>
    <h1 class="let-favorite">Let's Save Job in Your Favorite</h1>
  <% end %>
</div>
