<% provide(:title, 'Venjob') %>
<div class="banner-ground">
	<div class="top-banner">	
		<div class="total-job">total: <%= @total.count %> Jobs</div>
	</div>	
</div>
<div><%#= render 'top_pages/show' %></div>

