<% provide(:title, 'Venjob') %>
<div class="banner-ground">
	<div class="top-banner">	
		<div class="total-job">total: <%= @total_jobs.count %> Jobs</div>
	</div>	
</div>
<div class="container">
	<div class="job-list"><%= render 'layouts/show_jobs' %></div>
</div>
<div class="city-banner">City</div>	
<div class="container">
	<div class="row"><%= render 'layouts/show_cities' %></div>
</div>
<div class="industry-banner">Industry</div>
<div class="container">
	<div class="row"><%= render 'layouts/show_industries' %></div>
</div>
