<% provide(:title, 'Venjob') %>
<div class="banner-ground">
	<div class="top-banner">	
		<div class="total-job">total: <%= @total_jobs.count %> Jobs</div>
	</div>	
</div>
<div class="container">
	<div class="job-list"><%= render 'layouts/show_jobs' %></div>
	<div>
		<div class="city-banner">City</div>	
	</div>
	<table class="city-list"><%= render 'layouts/show_cities' %></table>
	<div class="city-banner">Industry</div>
	<table class="industry-list"><%= render 'layouts/show_industries' %></table>
</div>


