<div class="container">
  <div class="row ribbon-mark">
    <%= render partial: 'ribbon_step', locals: { step1: 'active', step2: 'active', step3: 'active' } %>
  </div>
  <div class="text-center">
    <h1 class="my-page-label">Thank you for apply</h1>
    <p>Back to <%= link_to 'TOP', root_path %> page</p>
  </div>
</div>
