<div class="container">
  <% if @count > 0 %>
    <h1 class="text-center my-job-label">My Job</h1>
    <%= paginate @applied_jobs, outer_window: 2, window: 1 %>
      <%= render partial: "applied_jobs/my_jobs", collection: @applied_jobs, as: :applied_job %>
    <%= paginate @applied_jobs, outer_window: 2, window: 1 %>
  <% else %>
    <h1 class="let-apply">Let's apply job</h1>
  <% end %>
</div>
