<% provide(:title, 'All Industries') %>
<div class="container">
  <div class="all-industries">
    <div class="industry-banner rounded">Industry List</div>
    <div class="row">
      <%= render partial: "all_industries", collection: @industries, as: :industry %>
    </div>
  </div>
</div>
