<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @email %></h1>
    <p>You're on your way!</p>
    <p>Let's confirm your email address.</p>
    <p>By clicking on the following link, you are confirming your email address and agreeing to VeNJOB's Terms of Service.</p>
    <p><%= link_to 'Confirm Email', registation_url(confirm_token: @confirm_token) %></p>
  </body>
</html>
