<div class="container">
  <div class="text-center label">
    <strong>Register</strong>
  </div>
  <div class="row">
    <div class="text-center waiting-text col-12">
      Thank you for register our service, an confirmation email with registration link<br>
      has been sent to your email. Please check your email within 24 hours.<br>
      Please note that the registration link is only valid for 24 hours.<br>
      Over that period, you will have to register your email again.
    </div>
  </div>
</div>
