.industry-banner{
  background: linear-gradient(to top, #33ccff 0%, #006600 100%);
  font-size: 38px;
  text-align: center;
  color: white;
  font-style: italic;
  font-family: Bookman, URW Bookman L, serif;
}
.industry-details {
  margin: 20px;
  padding: 15px;
  text-align: center;
}
.industry-details {
  text-decoration: none;
  color: black;
}
.remove-decoration {
  &:hover{
    a {
      text-decoration: none;
    }
  }
}

