<div class="search-bar">
  <div class="row">
    <div class="col-sm">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="col-sm">
      <select class="form-control" id="exampleFormControlSelect1">
          <option>--None</option>
          <%= @cities.each do |city| %>
            <option><%= city.name %></option>
          <% end %>
      </select>
    </div>
    <div class="col-sm">
      <select class="form-control" id="exampleFormControlSelect1">
          <option>--None</option>
          <%= @industries.each do |industry| %>
            <option><%= industry.name %></option>
          <% end %>
      </select>
    </div>
    <div class="col-2-sm">
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </div>
</div>
