<% @jobs_of_cities.each do |city| %>
	<div class="col-4">
		<div class="row-table border border-dark rounded city-list">
			<%= link_to '#' do %>
				<div class="city-name"><strong><%= city.name %></strong></div>
				<div class="count-job"><%= city.jobs.count %></div>
			<% end %>	
		</div>
	</div>
<% end %>