<% @jobs_of_industries.each do |industry, count_job| %>
	<div class="col-4">
		<div class="row-table">
			<div class="industry-name"><strong><%= Industry.find(industry).name %></strong></div>
			<div class="count-job"><%= count_job %></div>
		</div>
	</div>
<% end %>
