<% @jobs_of_cities.each do |city, count_job| %>
	<div class="col-4">
		<div class="row-table border border-dark rounded">
			<div class="city-name"><strong><%= City.find(city).name %></strong></div>
			<div class="count-job"><%= count_job %></div>
		</div>
	</div>	
<% end %>