<% @jobs.each do |job| %>
	<% if job.cities.present? %>
		<div class="border border-dark rounded">
			<div class="job-details">	
				<div class="title"><strong><%= job.title %></strong></div>
				<div><%= job.company_name %></div>
				<div class="salary">$ Lương: <%= job.salary %></div>
				<div>▼
					<% job.cities.each do |city| %>
						<%= city.name %>
					<% end %>
				</div>
				<% job.description.html_safe %>
				<button type="button" class="btn btn-primary" id="button-follow">♥ Follow</button>
			</div>
		</div>
		<br>
	<% end %>
<% end %>