<% @jobs.each do |job| %>
	<% if job.cities.present? %>
		<div class="border border-dark rounded">
			<div class="job-details">	
				<div class="title"><strong><%= job.title %></strong></div>
				<div><%#= job.company_name %></div>
				<div class="salary"><i class="fas fa-dollar-sign"></i>Lương: <%= job.salary %></div>
				<div><i class="fas fa-map-marker"></i>
					<% job.cities.each do |city| %>
						<%= city.name %>
					<% end %>
				</div>
				<button type="button" class="btn btn-primary" id="button-follow"><i class="fas fa-heart"></i> Follow</button>
			</div>
		</div>
		<br>
	<% end %>
<% end %>